name: Check
on: push
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 21
      uses: actions/setup-java@v2
      with:
        java-version: '21'
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn -B clean test
    - name: "Telegram notification"
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_CHAT_ID }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          Результат: ${{ job.status == 'success' && 'все тесты пройдены' || 'ошибка' }}.
  
  
