name: Check
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install deps
        run: |
          if [ -e yarn.lock ]; then
          npm install 
          fi
          npm@5 ci
      - name: Lint
        run: nmp run lint
  
  
