name: Check
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install deps
        run: npm init --yes
      - name: Install 2
        run: npm update --package-lock-only
      - name: Install 3
        run: npm ci
      - name: Lint
        run: npm run lint
  
  
