# This is a basic workflow that is manually triggered

name: Manual workflow Check

on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@v3
    - name: Install deps
      run: npm ci
    - name: Lint
      run: npm run lint
    
